.entre{
    margin-left:100px;
}
.ueo{
    display: flex;
    margin-top: 15px;
}
.util{
    margin-left: 15px;
    margin-bottom: 13px;
}
.pho{
    display: flex;
    border-radius: 90px;
}
.put{
margin-left: 5px;
}
.pen{
    margin-left: 77px;
    border-radius: 90px;
}
.villu{
    margin-left: 14px;
    margin-top: 31px;
}
.cat1{
    margin-left: 14px;
    margin-top: 17px;  
}
